<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Unknown</h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="favorites-list">
  <%- grid %>
</div>

<p><a href="/account/">Return to Account</a></p>