<section class="main-body">
    <h1>Welcome to CSE Motors!</h1>

    <div class="hero">
        <img class="hero-image" src="/images/vehicles/delorean.jpg" alt="A Delorean DMC-12">

        <!-- Overlay text box over image -->

        <div class="overlay">
            <span class="card-title">DMC Delorean</span><br>
            <span>3 Cup holders</span><br>
            <span>Superman doors</span><br>
            <span>Fuzzy dice!</span><br><br>

            <a href="#" class="cta-button">Own Today</a>
        </div>
    </div>

    <!-- I need two columns, one for reviews and the other for "upgrade cards" -->

    <div class="two-column">
        <div class="column">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

        <div class="column">
            <h2>Dolorean Upgrades</h2>
            <div class="row">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/upgrades/flux-cap.png" alt="A flux capacitor">
                    </div>
                    <a href="#" class="card-link">Flux Capacitor</a>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <a href="#" class="card-link">Flame Decals</a>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    </div>
                    <a href="#" class="card-link">Bumper Stickers</a>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <a href="#" class="card-link">Hub Caps</a>
                </div>
            </div>
        </div>
    </div>
</section>